@tailwind base;
@tailwind components;

@font-face {
  font-family: "Lexend";
  src: url("/fonts/Lexend-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Lexend";
  src: url("/fonts/Lexend-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Lexend";
  src: url("/fonts/Lexend-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@tailwind utilities;

body {
  font-family: "Lexend", sans-serif;
}

body.dark {
  background-color: #111827 !important;
}

.dark h1, 
.dark h2, 
.dark h3, 
.dark p, 
.dark span, 
.dark div {
  color: white !important;
}
