@tailwind base;
@tailwind components;

@font-face {
  font-family: "Lexend";
  src: url("/fonts/Lexend-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Lexend";
  src: url("/fonts/Lexend-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Lexend";
  src: url("/fonts/Lexend-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@tailwind utilities;

/* Definindo o modo escuro como padrão */
:root {
  --background-color: #111827;
  --text-color: #ffffff;
}

[data-theme="dark"] {
  --background-color: #111827;
  --text-color: #ffffff;
}

[data-theme="light"] {
  --background-color: #ffffff;
  --text-color: #000000;
}

/* Aplicando as variáveis no restante do CSS */
body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: "Lexend", sans-serif;

}

body.dark {
  background-color: #111827 !important;
}

a {
  color: var(--text-color);
}

.dark h1, 
.dark h2, 
.dark h3, 
.dark p, 
.dark span, 
.dark div {
  color: white !important;
}
